*{
	padding:0;
	margin:0;
}
body{
	background-color: #163c59;
	color: #fff;
	font-family: 'Century Gothic', Arial, sans-serif;
	
}

#headerbild{
	width:  90%;
	border-width: 1.5em;
	border-style: solid;
    border-color: white;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
}
h2{
	color: white;
	font-weight: normal;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 20em;
    margin-right: 20em;
    border-top: solid;
    border-bottom: solid;
}
.row{
	font-size: 0;
}
#footer{
    text-align: center;
    position: relative;
}
#header {
	position: relative;
}
#video {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 6em;
    margin-right: 6em;
    background-color: rgba(0, 0, 0, 0.5);
}
#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin-right: 5%;
    margin-left: 5%;;
  }
  #gallery img {
    width: 100%;
    height: 100%;
 }
 .big{
     grid-column: span 2;
     grid-row: span 2;
 }
 a {
     text-decoration: none;
     color: white;
     font-size: 1em;
 }
 #footer {
     margin-top: 2em;
     margin-bottom: 1em;
 }